/* Reset de estilos y estilos generales */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos del héroe */
  .hero {
    text-align: center;
    margin-top: 50px;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 50px 0;
    background-color: #f7f7f7;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .destino {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .destino img {
    max-width: 100%;
  }
  
  .destino h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .destino p {
    margin-top: 10px;
  }
  
  /* Estilos del formulario de contacto */
  form input,
  form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .formulario-pago {
    display: none;
  }
  
  .mostrar-formulario ~ .formulario-pago {
    display: block;
    margin-top: 20px;
  }
  